/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --primary: #242054;
  --secondary: #4b4bee;
  --orange: 251, 176, 64;
  --yellow: 255, 221, 89;
  --background-cream: #faf6f1;
  --primary-font: "Poppins", serif;
  --header-font: "Cherry Bomb One", serif;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(75, 75, 238, 50%), var(--background-cream);
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@keyframes fadeOut {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
  }
  100% {
    opacity: 0.1;
    transform: translateY(50px);
  }
}
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--background-cream);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
  min-height: 100vh;
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 20%;
  bottom: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  animation: fadeOut 1s ease-out forwards;
  animation-timeline: scroll(root);
  animation-range: entry 10% 90%;
  z-index: -1;
}

body::before {
  right: 0;
  width: 35%;
  background-image: url("/4.png");
}

body::after {
  left: 0;
  width: 30%;
  background-image: url("/3.png");
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3rem 1rem;
}

article {
  width: 720px;
  max-width: 100%;
  margin: auto;
  h1 {
    font-size: 2.52em;
    font-family: var(--header-font);
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
  font-family: var(--header-font);
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
  text-align: center;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--secondary);
}
a:hover {
  color: var(--black);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--secondary);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.social-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
}
.primary-font {
  font-family: var(--primary-font);
}

.header {
  align-items: center;
  padding: 3rem 1rem 2rem;
}

.header-text {
  text-align: center;
  h1 {
    color: var(--secondary);
    font-size: 3.6rem;
    margin: 0;
  }
  h2 {
    color: var(--primary);
    font-size: 2rem;
    margin: 0.5rem 0 1.5rem;
  }
}

.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: auto;
  max-width: 1200px;
}

.activity-card {
  text-align: center;
  img {
    width: 100%;
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 50%;
  }
  h3 {
    color: var(--primary);
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.news-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(var(--orange));
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(var(--orange), 0.25);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 153, 0);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(var(--orange), 0.3);
  color: #fff;
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(251, 176, 64, 0.2);
  color: #fff;
}

.disclaimer {
  margin-top: 8px;
  font-style: italic;
  font-size: 1rem;
}

.date {
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: -2rem;
  color: rgb(var(--gray));
}

.gray-dark {
  color: rgb(var(--gray-dark));
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
  body::before {
    top: 60%;
    width: 50%;
    background-position: 0 0;
  }

  body::after {
    width: 50%;
  }

  .activities {
    grid-template-columns: 1fr;
  }

  .page-content {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}
