---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Page from "../../tina/pages/Page";
import config from "../content/config/config.json";
import client from "../../tina/__generated__/client";
const data = await client.queries.page({ relativePath: "about.mdx" });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={config.seo.title} description={config.seo.description} />
  </head>
  <body>
    <Header />
    <Page {...data} client:tina />
    <Footer />
  </body>
</html>
