---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Page from "../../tina/pages/Workshops";
import client from "../../tina/__generated__/client";
const data = await client.queries.workshops({ relativePath: "workshops.mdx" });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={data.data.workshops.seoTitle}
      description={data.data.workshops.seoDescription}
    />
  </head>
  <body>
    <Header />
    <Page {...data} client:tina />
    <Footer />
  </body>
</html>
